@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #000000;
    color: white;
}

.bg_header {
    background-image: url("public/netflix-header-collection.png");
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; /* Agrandit l'icône */
  font-weight: bold;
  fill:red;
  color: red;
  transform: translateX(-35px);
  z-index: 999px;
}